<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Conexión PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://db.qymhniqcdiqcqvrfkcvb.supabase.co:5432/postgres?sslmode=require</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">uIOKBxNdNM4YicPr</property>

        <!-- Dialecto PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Mostrar SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Auto actualiza tablas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entidades -->
        <mapping class="com.sistema_financiero_personal.recordatorio.modelos.Recordatorio"/>
        <mapping class="com.sistema_financiero_personal.resumen_financiero.modelos.ResumenFinanciero"/>
        <mapping class="com.sistema_financiero_personal.resumen_financiero.modelos.DocumentoPDF"/>
        <!-- Nuevas entidades de movimientos y cartera -->
        <mapping class="com.sistema_financiero_personal.movimiento.modelos.Movimiento"/>
        <mapping class="com.sistema_financiero_personal.movimiento.modelos.Ingreso"/>
        <mapping class="com.sistema_financiero_personal.movimiento.modelos.Gasto"/>
        <mapping class="com.sistema_financiero_personal.movimiento.modelos.Cartera"/>


        <mapping class="com.sistema_financiero_personal.obligaciones_financieras.modelos.ObligacionFinanciera"/>
        <mapping class="com.sistema_financiero_personal.obligaciones_financieras.modelos.Deuda"/>
        <mapping class="com.sistema_financiero_personal.obligaciones_financieras.modelos.Prestamo"/>
        <mapping class="com.sistema_financiero_personal.usuario.modelos.Usuario"/>
        <mapping class="com.sistema_financiero_personal.cuentas.modelos.Cuenta"/>
        <mapping class="com.sistema_financiero_personal.plantillas.modelos.Plantilla"/>
    </session-factory>
</hibernate-configuration>